# Company data and visualization

## Imports

In [2]:
import pandas as pd

## Get all companies

In [3]:
df = pd.read_csv('./STORAGE/COMPANIES.csv')
df

,id,name,ticker,description
0,1,Adani Ports and Special Economic Zone Ltd.,ADANIPORTS.NS,SERVICES
1,2,Asian Paints Ltd.,ASIANPAINT.NS,CONSUMER GOODS
2,3,Axis Bank Ltd.,AXISBANK.NS,FINANCIAL SERVICES
3,4,Bajaj Auto Ltd.,BAJAJ-AUTO.NS,AUTOMOBILE
4,5,Bajaj Finance Ltd.,BAJFINANCE.NS,FINANCIAL SERVICES
5,6,Bajaj Finserv Ltd.,BAJAJFINSV.NS,FINANCIAL SERVICES
6,7,Bharat Petroleum Corporation Ltd.,BPCL.NS,OIL & GAS
7,8,Bharti Airtel Ltd.,BHARTIARTL.NS,TELECOM
8,9,Britannia Industries Ltd.,BRITANNIA.NS,CONSUMER GOODS
9,10,Cipla Ltd.,CIPLA.NS,PHARMA
10,11,Coal India Ltd.,COALINDIA.NS,METALS
11,12,Divis Laboratories Ltd.,DIVISLAB.NS,PHARMA
12,13,Dr. Reddys Laboratories Ltd.,DRREDDY.NS,PHARMA
13,14,Eicher Motors Ltd.,EICHERMOT.NS,AUTOMOBILE
14,15,Grasim Industries Ltd.,GRASIM.NS,CEMENT & CEMENT PRODUCTS
15,16,HCL Technologies Ltd.,HCLTECH.NS,IT
16,17,HDFC Bank Ltd.,HDFCBANK.NS,FINANCIAL SERVICES
17,18,HDFC Life Insurance Company Ltd.,HDFCLIFE.NS,FINANCIAL SERVICES
18,19,Hero MotoCorp Ltd.,HEROMOTOCO.NS,AUTOMOBILE
19,20,Hindalco Industries Ltd.,HINDALCO.NS,METALS
20,21,Hindustan Unilever Ltd.,HINDUNILVR.NS,CONSUMER GOODS
21,22,Housing Development Finance Corporation Ltd.,HDFC.NS,FINANCIAL SERVICES
22,23,ICICI Bank Ltd.,ICICIBANK.NS,FINANCIAL SERVICES
23,24,ITC Ltd.,ITC.NS,CONSUMER GOODS
24,25,Indian Oil Corporation Ltd.,IOC.NS,OIL & GAS
25,26,IndusInd Bank Ltd.,INDUSINDBK.NS,FINANCIAL SERVICES
26,27,Infosys Ltd.,INFY.NS,IT
27,28,JSW Steel Ltd.,JSWSTEEL.NS,METALS
28,29,Kotak Mahindra Bank Ltd.,KOTAKBANK.NS,FINANCIAL SERVICES
29,30,Larsen & Toubro Ltd.,LT.NS,CONSTRUCTION
30,31,Mahindra & Mahindra Ltd.,M&M.NS,AUTOMOBILE
31,32,Maruti Suzuki India Ltd.,MARUTI.NS,AUTOMOBILE
32,33,NTPC Ltd.,NTPC.NS,POWER
33,34,Nestle India Ltd.,NESTLEIND.NS,CONSUMER GOODS
34,35,Oil & Natural Gas Corporation Ltd.,ONGC.NS,OIL & GAS
35,36,Power Grid Corporation of India Ltd.,POWERGRID.NS,POWER
36,37,Reliance Industries Ltd.,RELIANCE.NS,OIL & GAS
37,38,SBI Life Insurance Company Ltd.,SBILIFE.NS,FINANCIAL SERVICES
38,39,Shree Cement Ltd.,SHREECEM.NS,CEMENT & CEMENT PRODUCTS
39,40,State Bank of India,SBIN.NS,FINANCIAL SERVICES
40,41,Sun Pharmaceutical Industries Ltd.,SUNPHARMA.NS,PHARMA
41,42,Tata Consultancy Services Ltd.,TCS.NS,IT
42,43,Tata Consumer Products Ltd.,TATACONSUM.NS,CONSUMER GOODS
43,44,Tata Motors Ltd.,TATAMOTORS.NS,AUTOMOBILE
44,45,Tata Steel Ltd.,TATASTEEL.NS,METALS
45,46,Tech Mahindra Ltd.,TECHM.NS,IT
46,47,Titan Company Ltd.,TITAN.NS,CONSUMER GOODS
47,48,UPL Ltd.,UPL.NS,FERTILISERS & PESTICIDES
48,49,UltraTech Cement Ltd.,ULTRACEMCO.NS,CEMENT & CEMENT PRODUCTS
49,50,Wipro Ltd.,WIPRO.NS,IT

## Filter Criteria

In [6]:
company_ticker = 'ADANIPORTS.NS'
time_period = ''
backtest_config = ''

## Filter and extract required data

In [8]:
# For a company, arrange all backtests in ascending order of return % along with
df = pd.read_csv(f'./STORAGE/BACKTEST_REPORTS/{company_ticker}.csv')

,id,status,start_date_time,end_date_time,strategy_type_id,strategy_config_id,total_returns,total_returns_percent,total_trades,profit_trades,profit_trades_percent,company_id
0,1,3,2017-01-01 18:30:00+00:00,2020-12-29 18:30:00+00:00,1,1,100.249771,0.052826,516,261,50.581395,1
1,2,3,2017-01-01 18:30:00+00:00,2020-12-29 18:30:00+00:00,1,2,0.000000,0.000000,0,0,0.000000,1
2,3,3,2017-01-01 18:30:00+00:00,2020-12-29 18:30:00+00:00,1,3,23.149994,0.011613,535,271,50.654206,1
3,4,3,2017-01-01 18:30:00+00:00,2020-12-29 18:30:00+00:00,1,4,0.000000,0.000000,0,0,0.000000,1
4,5,3,2017-01-01 18:30:00+00:00,2020-12-29 18:30:00+00:00,1,5,189.749847,0.102440,506,254,50.197628,1
5,6,3,2017-01-01 18:30:00+00:00,2020-12-29 18:30:00+00:00,1,6,-91.900055,-0.293928,85,37,43.529412,1
6,7,3,2017-01-01 18:30:00+00:00,2020-12-29 18:30:00+00:00,1,7,53.899765,0.027274,529,274,51.795841,1
7,8,3,2017-01-01 18:30:00+00:00,2020-12-29 18:30:00+00:00,1,8,-198.550110,-0.627376,87,41,47.126437,1
8,9,3,2017-01-01 18:30:00+00:00,2020-12-29 18:30:00+00:00,1,9,-183.300095,-0.098113,509,243,47.740668,1
9,10,3,2017-01-01 18:30:00+00:00,2020-12-29 18:30:00+00:00,1,10,254.149918,0.812858,85,46,54.117647,1
10,11,3,2017-01-01 18:30:00+00:00,2020-12-29 18:30:00+00:00,1,11,64.699875,0.031693,548,278,50.729927,1
11,12,3,2017-01-01 18:30:00+00:00,2020-12-29 18:30:00+00:00,1,12,-416.499954,-1.033150,111,47,42.342342,1
12,13,3,2017-01-01 18:30:00+00:00,2020-12-29 18:30:00+00:00,1,13,-217.699966,-0.108482,545,262,48.073394,1
13,14,3,2017-01-01 18:30:00+00:00,2020-12-29 18:30:00+00:00,1,14,-78.950012,-0.209111,101,50,49.504950,1
14,15,3,2017-01-01 18:30:00+00:00,2020-12-29 18:30:00+00:00,1,15,145.049728,0.073045,536,276,51.492537,1
15,16,3,2017-01-01 18:30:00+00:00,2020-12-29 18:30:00+00:00,1,16,-352.150055,-0.806119,120,52,43.333333,1
16,17,3,2017-01-01 18:30:00+00:00,2020-12-29 18:30:00+00:00,1,17,-367.649734,-0.182140,545,259,47.522936,1
17,18,3,2017-01-01 18:30:00+00:00,2020-12-29 18:30:00+00:00,1,18,-119.699966,-0.238142,137,67,48.905109,1
18,19,3,2017-01-01 18:30:00+00:00,2020-12-29 18:30:00+00:00,1,19,-48.400482,-0.024132,537,272,50.651769,1
19,20,3,2017-01-01 18:30:00+00:00,2020-12-29 18:30:00+00:00,1,20,-154.550049,-0.380614,113,52,46.017699,1
20,21,3,2017-01-01 18:30:00+00:00,2020-12-29 18:30:00+00:00,2,21,72.699692,0.038211,517,260,50.290135,1
21,22,3,2017-01-01 18:30:00+00:00,2020-12-29 18:30:00+00:00,2,22,-24.950012,-0.103721,65,33,50.769231,1
22,23,3,2017-01-01 18:30:00+00:00,2020-12-29 18:30:00+00:00,2,23,-13.349823,-0.037442,95,42,44.210526,1
23,24,3,2017-01-01 18:30:00+00:00,2020-12-29 18:30:00+00:00,2,24,-138.400070,-0.070470,542,260,47.970480,1
24,25,3,2017-01-01 18:30:00+00:00,2020-12-29 18:30:00+00:00,2,25,-332.549744,-0.165907,542,255,47.047970,1
25,26,3,2017-01-01 18:30:00+00:00,2020-12-29 18:30:00+00:00,2,26,0.000000,0.000000,0,0,0.000000,1
26,27,3,2017-01-01 18:30:00+00:00,2020-12-29 18:30:00+00:00,2,27,79.649933,0.302824,70,38,54.285714,1
27,28,3,2017-01-01 18:30:00+00:00,2020-12-29 18:30:00+00:00,2,28,-197.000305,-0.104783,520,257,49.423077,1
28,29,3,2017-01-01 18:30:00+00:00,2020-12-29 18:30:00+00:00,2,29,-153.450058,-0.078073,536,261,48.694030,1
29,30,3,2017-01-01 18:30:00+00:00,2020-12-29 18:30:00+00:00,2,30,142.149963,0.304538,129,66,51.162791,1
30,31,3,2017-01-01 18:30:00+00:00,2020-12-29 18:30:00+00:00,2,31,0.000000,0.000000,0,0,0.000000,1
31,32,3,2017-01-01 18:30:00+00:00,2020-12-29 18:30:00+00:00,2,32,315.799698,0.165368,527,275,52.182163,1
32,33,3,2017-01-01 18:30:00+00:00,2020-12-29 18:30:00+00:00,2,33,-53.700180,-0.028390,514,250,48.638132,1
33,34,3,2017-01-01 18:30:00+00:00,2020-12-29 18:30:00+00:00,2,34,-145.050034,-0.384187,101,45,44.554455,1
34,35,3,2017-01-01 18:30:00+00:00,2020-12-29 18:30:00+00:00,2,35,-208.749847,-0.391008,144,67,46.527778,1
35,36,3,2017-01-01 18:30:00+00:00,2020-12-29 18:30:00+00:00,2,36,353.849548,0.185466,526,279,53.041825,1
36,37,3,2017-01-01 18:30:00+00:00,2020-12-29 18:30:00+00:00,2,37,-27.950104,-0.014976,507,246,48.520710,1
37,38,3,2017-01-01 18:30:00+00:00,2020-12-29 18:30:00+00:00,2,38,75.849991,0.242594,85,45,52.941176,1
38,39,3,2017-01-01 18:30:00+00:00,2020-12-29 18:30:00+00:00,2,39,-27.050018,-0.067663,107,51,47.663551,1
39,40,3,2017-01-01 18:30:00+00:00,2020-12-29 18:30:00+00:00,2,40,-170.100739,-0.090019,521,248,47.600768,1

## What were the best / worst trades in those backtests, what were the best trades within a company?