# Tabulate Results of Strategy Backtests

### 1. Imports

In [1]:
import pandas as pd

### 2. Analyze data

In [2]:
company_baselines = pd.read_csv('./COMPANIES_BASELINES.csv')
backtest_baselines = pd.read_csv('./BACKTESTS_BASELINES.csv')

In [3]:
company_baselines.head()

,ticker,2017-2020,2017,2018,2019,2020,2017_Q1,2018_Q1,2019_Q1,2020_Q1,...,2019_M10,2020_M10,2017_M11,2018_M11,2019_M11,2020_M11,2017_M12,2018_M12,2019_M12,2020_M12
0,ADANIPORTS.NS,76.68,45.96,-2.11,-0.96,26.26,24.03,-10.90,0.46,-36.11,...,-3.50,2.71,-11.55,9.61,-2.29,18.74,2.96,3.55,-0.03,10.39
1,ASIANPAINT.NS,205.59,26.42,20.02,29.63,54.39,18.66,-1.96,7.91,-10.47,...,0.99,9.05,-3.79,7.94,-4.47,2.63,2.02,2.45,3.16,19.37
2,AXISBANK.NS,38.57,26.30,12.12,20.75,-18.03,9.61,-8.76,23.47,-52.62,...,11.95,10.89,0.32,2.47,-0.48,15.50,5.71,0.40,0.59,2.03
3,BAJAJ-AUTO.NS,32.54,26.58,-17.24,17.02,10.35,7.96,-16.69,8.31,-34.28,...,11.55,-2.22,-0.75,3.31,-1.12,14.06,2.83,-0.34,-0.29,3.17
4,BAJFINANCE.NS,508.61,98.34,54.05,61.87,24.71,34.60,2.49,14.82,-47.73,...,2.78,-2.18,-5.45,6.48,-0.94,42.15,2.97,5.91,7.11,9.77

In [4]:
backtest_baselines.head()

,ticker,strategy_type_id,strategy_config_id,backtest_id,2017-2020,2017,2018,2019,2020,2017_Q1,...,2019_M10,2020_M10,2017_M11,2018_M11,2019_M11,2020_M11,2017_M12,2018_M12,2019_M12,2020_M12
0,ADANIPORTS.NS,1,1,1,14.38,16.39,-11.32,16.00,-4.47,22.50,...,0.53,13.46,-6.58,-19.48,-4.95,-11.86,-4.82,17.42,9.15,-0.65
1,ADANIPORTS.NS,1,2,2,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
2,ADANIPORTS.NS,1,3,3,-16.22,14.57,-10.43,114.66,-61.97,23.56,...,4.77,4.95,-11.84,-18.99,2.71,-26.27,6.86,12.49,7.27,-10.70
3,ADANIPORTS.NS,1,4,4,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
4,ADANIPORTS.NS,1,5,5,32.68,8.77,-9.18,45.68,-7.80,18.90,...,-2.07,17.69,-9.53,-25.49,-7.29,-17.45,-10.40,18.82,16.96,0.00

In [5]:
LSTM_baselines = backtest_baselines[backtest_baselines['strategy_type_id'] == 2]
LSTM_baselines.head()

,ticker,strategy_type_id,strategy_config_id,backtest_id,2017-2020,2017,2018,2019,2020,2017_Q1,...,2019_M10,2020_M10,2017_M11,2018_M11,2019_M11,2020_M11,2017_M12,2018_M12,2019_M12,2020_M12
20,ADANIPORTS.NS,2,21,21,24.93,5.45,3.66,-12.03,29.90,25.38,...,0.01,5.22,-2.71,-6.51,-3.43,-6.86,-7.11,14.41,-0.89,-3.12
21,ADANIPORTS.NS,2,22,22,-11.75,-13.88,3.45,-11.61,12.08,4.16,...,0.00,3.06,-2.21,0.00,-1.37,3.08,0.00,15.84,1.60,10.01
22,ADANIPORTS.NS,2,23,23,-11.21,16.54,-14.92,-1.77,-8.84,2.43,...,8.71,-1.04,-0.79,0.00,1.45,0.91,4.20,5.14,0.00,0.00
23,ADANIPORTS.NS,2,24,24,-77.21,77.76,-41.49,269.51,-94.07,-12.96,...,7.99,28.95,8.00,-35.57,-16.25,-37.19,0.41,17.22,9.60,-7.55
24,ADANIPORTS.NS,2,25,25,-74.29,33.63,-20.83,21.23,-79.96,0.20,...,-5.91,16.44,13.27,-31.51,-7.55,-36.34,2.35,6.60,7.27,-11.97

In [6]:
BB_baselines = backtest_baselines[backtest_baselines['strategy_type_id'] == 1]
BB_baselines.head()

,ticker,strategy_type_id,strategy_config_id,backtest_id,2017-2020,2017,2018,2019,2020,2017_Q1,...,2019_M10,2020_M10,2017_M11,2018_M11,2019_M11,2020_M11,2017_M12,2018_M12,2019_M12,2020_M12
0,ADANIPORTS.NS,1,1,1,14.38,16.39,-11.32,16.00,-4.47,22.50,...,0.53,13.46,-6.58,-19.48,-4.95,-11.86,-4.82,17.42,9.15,-0.65
1,ADANIPORTS.NS,1,2,2,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
2,ADANIPORTS.NS,1,3,3,-16.22,14.57,-10.43,114.66,-61.97,23.56,...,4.77,4.95,-11.84,-18.99,2.71,-26.27,6.86,12.49,7.27,-10.70
3,ADANIPORTS.NS,1,4,4,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
4,ADANIPORTS.NS,1,5,5,32.68,8.77,-9.18,45.68,-7.80,18.90,...,-2.07,17.69,-9.53,-25.49,-7.29,-17.45,-10.40,18.82,16.96,0.00

### 3. Calculations

In [7]:
# Create data frame
df = pd.DataFrame(columns=["Strategy", "Profitable Time Periods", "Baseline Beating Time Periods", "Percentage Profitable Time Periods", "Percentage Baseline Beating Time Periods", "Total Time Periods"])

In [8]:
# Add strategies
df["Strategy"] = ["LSTM", "BB", "Combined"]

In [9]:
# Calculate profitable time periods

lstm_total = 0
# LSTM Strategy
lstm_profitable_timeperiods = 0
for col in LSTM_baselines.columns[4:]:
	# print(col)
	for baseline_return in LSTM_baselines[col]:
		lstm_total += 1
		if baseline_return > 0:
			# print(baseline_return)
			lstm_profitable_timeperiods += 1
# print(lstm_profitable_timeperiods, "/", lstm_total)

bb_total = 0
# BB Strategy
bb_profitable_timeperiods = 0
for col in BB_baselines.columns[4:]:
	# print(col)
	for baseline_return in BB_baselines[col]:
		bb_total += 1
		if baseline_return > 0:
			# print(baseline_return)
			bb_profitable_timeperiods += 1
# print(bb_profitable_timeperiods, "/", bb_total)

df["Profitable Time Periods"] = [lstm_profitable_timeperiods, bb_profitable_timeperiods, lstm_profitable_timeperiods + bb_profitable_timeperiods]
df["Total Time Periods"] = [69000, 69000, 138000]
df["Percentage Profitable Time Periods"] = [
	(lstm_profitable_timeperiods / lstm_total)*100,
	(bb_profitable_timeperiods / bb_total)*100,
	((lstm_profitable_timeperiods + bb_profitable_timeperiods) / (bb_total + lstm_total))*100,
]

In [10]:
# Calculate baseline beating time periods
alphas = pd.read_csv("./ALPHAS.csv")

lstm_alphas = alphas[alphas['strategy_type_id'] == 2] 
bb_alphas = alphas[alphas['strategy_type_id'] == 1]

df["Baseline Beating Time Periods"] = [len(lstm_alphas), len(bb_alphas), len(lstm_alphas) + len(bb_alphas)]
df["Percentage Baseline Beating Time Periods"] = [
	(len(lstm_alphas) / 69000) * 100, 
	(len(bb_alphas) / 69000) * 100, 
	((len(lstm_alphas) + len(bb_alphas)) / 130000) * 100
]

In [11]:
df

,Strategy,Profitable Time Periods,Baseline Beating Time Periods,Percentage Profitable Time Periods,Percentage Baseline Beating Time Periods,Total Time Periods
0,LSTM,29766,23074,43.13913,33.440580,69000
1,BB,30195,23640,43.76087,34.260870,69000
2,Combined,59961,46714,43.45000,35.933846,138000